langchain-text-splitters
langchain-community 
langgraph
langchain-core
langchain
langchain-google-genai
google-generativeai
chromadb
langchain-chroma
python-pptx
python-docx 
PyPDF2
pdfplumber
beautifulsoup4
requests
streamlit
streamlit-extras
typing-extensions
pypdf
docx2txt